<button mat-flat-button color="primary" class="margen-boton" (click)="Regresar()">
    <mat-icon mat-list-icon>arrow_back</mat-icon>Regresar
</button>
<br />
<br />
<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>pets </mat-icon>
            Informacion de la mascota
        </ng-template>
        <h3>Nombre de la mascota: {{mascota?.nombre}}</h3>
        <h3>Raza: {{mascota?.raza}}</h3>
        <h3>Especie: {{mascota?.especie}}</h3>
        <h3>Sexo: {{mascota?.sexo}}</h3>
        <h3>Fecha de nacimiento: {{ mascota?.fechaNacimiento | date:'yyyy-MM-dd' }}</h3>
        <h3>Observaciones: {{mascota?.observaciones}}</h3>
        <h3>Cliente: {{mascota?.nombreCliente}}</h3>
        <button mat-flat-button color="primary" class="margen-boton" (click)="editarMascota(mascota!)">
              <mat-icon mat-list-icon>edit</mat-icon>Editar
        </button>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>content_cut </mat-icon>
            Peluqueria
        </ng-template>
        <app-peluqueria></app-peluqueria>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>hotel </mat-icon>
            Guarderia
        </ng-template>
        <app-guarderia></app-guarderia>
    </mat-tab>
</mat-tab-group>